<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%green(%date)] - [%yellow(%thread)] - [%magenta(%logger)] - [%highlight(%level)] - [%cyan(%message)]%red(%n%throwable)</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>./logs/application.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>[%date] - [%thread] - [%logger] - [%level] - [%message]%n%throwable</pattern>
        </encoder>
    </appender>

	<!--logger name="org.quartz" level="DEBUG" />
	<logger name="org.kie" level="DEBUG" />
	<logger name="org.jbpm" level="DEBUG" />
	<logger name="org.drools" level="DEBUG" /> 
	<logger name="com.arjuna.ats" level="ERROR" />
	<logger name="org.apache.commons.dbcp2" level="ERROR" />
	<logger name="io.undertow" level="ERROR" />
	<logger name="org.hibernate" level="ERROR" />
	<logger name="org.webjars" level="TRACE" /-->

    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
